$color_blue: #4285F4;
$color_red: #DB4437;
$color_yellow: #F4B400;
$color_green: #0F9D58;
$color_grey: darkslategrey; 
$font: "Roboto";

body{
    font-family: $font;
}



.header{
    text-align: right;
    color: $color_grey;
    margin: 1vh 1vh 0 0;
    font-size: 14px;
    span{
        margin-right: 10px;
    }
    a{
        color: grey;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }

}

.main{
    text-align: center;
    padding-top: 20vh;


    input[type="submit"]{
        border:none;
        font-size: 16px;
        color: darkslategray;
        border-radius: 3px;
        background-color: #f8f9fa;
        padding: 10px 20px;
    }
    input[type="submit"]:hover{
        outline: solid 1px lightgrey;
        cursor: pointer;
    }
    input[type="submit"]:active{
        outline: solid 1px $color_blue;
    }

}

.searchbar{
    
    margin: 0 auto;
    width: 600px;
    height: 40px;
    border-radius: 100px;
    margin-bottom: 2vh;
    font-size: 1em;
    text-align: left;
    border: lightgrey solid 1px;
    color: lightgrey;


    :first-child{
        margin-left: 0.4vw;
    }
    input{
        height: 90%;
        width: 80%;
        text-align: left;
        border: none; 
        font-size: 0.9em;
        background-color: none;
    }

    input:focus{
        outline: none;
    }

    i{
        font-size: 1em;
    }
    
}

.logo{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 2vh  ;
    span{
        font-size: 2.5em;
    }

    span:nth-child(1){color: $color_blue}
    span:nth-child(2){color: $color_red}
    span:nth-child(3){color: $color_yellow}
    span:nth-child(4){color:$color_blue}
    span:nth-child(5){color:$color_green}
    span:nth-child(6){color:$color_red}
    span:nth-child(7){
        color: $color_blue;
        font-size: 1em;
    }
}

.logo-top-sm{
    display: inline-block;
    text-align: left;
    height: 100%;
    font-size: smaller;

    span{
        margin: 0;
    }
}

.header_adv{
    display: grid; 
    grid-template-columns: 1fr 1fr;
}





#main-adv{
    text-align: left;
    padding-top: 5vh;

    hr{
        border: none;
        border-bottom: #ebebeb solid 1px;
    }
    
    > h3:first-child {
        padding-left: 5vw;
        font-weight: 400;
        color: $color_red;
    }
}



.form-wrap{
    padding: 0 5vw;
    h3{
        font-weight: 400;
    color: darkslategray;
    }

}

.grid-wrap{
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    width: 1140px;
    grid-row-gap: 1vh;
    grid-column-gap: 1vh;
}

.grid-wrap > *{
    font-size: 13px;
    height: 30px;
    line-height: 30px;

    input{
        width: 95%;
        height: 25px;
        border: #d9d9d9 solid 1px;
        padding: 0 10px;
    }
    input:focus{
        outline: 1px solid $color_blue;
    }
    


}


.grid-wrap{
    div:last-child{
        text-align: right;
        
    }
}

#btn-adv-submit{
    width: 40%;
    background: $color_blue;
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2px;
}


.desc{
    color: #555;
    font-size: 11px;
    display: flex; 
    align-items: center;

    p{
        line-height: normal;
        display: table-cell;
        vertical-align: middle;
        
    }

    span{
        font-family: monospace;
    }
}








/*MEDIA*/

@media (max-width: 800px){
    .searchbar{
        width: 80%;
    }
    .logo span{
        font-size: 1.5em;
    }

    #lucky{
        margin-top: 1vh;
    }
}

@media (max-width: 1000px){
    .desc{
        visibility: hidden; 
    }
}

@media (max-width: 900px){
    .grid-wrap{
        grid-template-columns: 1fr;
        width: 90%;
        grid-row-gap: 0.5vh;
        
        > *{
            font-size: 1em;
        }
    }

    .desc{
        display: none;
        
    }
}